.mentions {
    /* unused */
}

.mentions__control {
    /* unused */
}

.mentions .mentions__highlighter {
    display: block;
}
.mentions .mentions__highlighter--singleLine {
    white-space: nowrap;
}

.mentions__input {
    /* unused */
}

.mentions__suggestions__list {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 10pt;
}

.mentions__suggestions__item {
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
    background-color: #cee4e5;
}

.mentions__mention {
    position: relative;
    z-index: 1;
    color: #0a1325;
    background-color: #cee4e5;
    pointer-events: none;
}

.mentionsReadOnly .mentions__input{
    border: none;
    pointer-events: none;
}

.emoji__button {
    position: absolute;
    cursor: pointer;
    padding: 9px;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: 0;
}

.emoji__picker {
    position: absolute;
    right: 0;
    z-index: 999;
}
